<h1>Editing crud test</h1>

<%= render "form", crud_test: @crud_test %>

<br>

<div>
  <%= link_to "Show this crud test", @crud_test %> |
  <%= link_to "Back to crud tests", crud_tests_path %>
</div>
